/*FORMATEO DEL DOC*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
  }
  
  ul, li {
    list-style: none;
    display: inline-block;
  }
  
  